<div class="container">

<div ng-controller="IdentidCtrl">



<div class="container, body">



	<div class="row">
		<div class="col-md-2"> test </div>
		
		</div>

	<% @users = User.all %>
	<% @users.each do |user| %>

	<div class="row">

		<% @user = user %>

		<div class="col-md-2"> <%= user.email %></div>
		<% @charges = @user.charges %>
		<% @charges.limit(8).each do |charge| %>


		<div ng-click="upCharge()" class="col-md-1  <%= charge.category.etat %>"><%= charge.category.etat %></div>
		
		<% end %>
	</div>
</div>
<% end %>


</div>